In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into DataFrame

In [3]:
csv_file = "happiness.csv"
happiness_df = pd.read_csv(csv_file)

happiness_df_rounding = happiness_df.round({'Happiness Score': 3, 'Economy (GDP per Capita)': 3, 'Health (Life Expectancy)': 3, 
                    'Freedom': 3, 'Generosity': 3, 'Dystopia Residual': 3})

happiness_df_rounding.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.397,1.34951,0.941,0.666,0.41978,0.297,2.517
1,Iceland,Western Europe,2,7.561,0.04884,1.302,1.40223,0.948,0.629,0.14145,0.436,2.702
2,Denmark,Western Europe,3,7.527,0.03328,1.325,1.36058,0.875,0.649,0.48357,0.341,2.492
3,Norway,Western Europe,4,7.522,0.03880,1.459,1.33095,0.885,0.670,0.36503,0.347,2.465
4,Canada,North America,5,7.427,0.03553,1.326,1.32261,0.906,0.633,0.32957,0.458,2.452

In [4]:
csv_file_2 = "suicide_2015_summary.csv"
suicide_df = pd.read_csv(csv_file_2)

suicide_df.set_index("country", inplace=True)

suicide_df.head()

,gdp_for_year,gdp_per_capita,suicides_no,population
country,,,,
Antigua and Barbuda,"1,364,863,037",14853,1,91889
Argentina,"594,749,285,413",14981,3073,39699624
Armenia,"10,553,337,673",3775,74,2795335
Australia,"1,349,034,029,453",60656,3027,22240785
Austria,"382,065,930,308",46484,1251,8219386

In [14]:
csv_file_3 = "human_dev_df.csv"
human_dev_df = pd.read_csv(csv_file_3)

human_dev_df.set_index("country", inplace=True)

human_dev_df.head()

,hdi_rank,hdi,life_expectancy,expected_yrs_education,mean_yrs_edu,gni_per_capita,gni_per_capita_minus_hdi
country,,,,,,,
Norway,1.0,0.944,81.6,17.5,12.6,"64,992",5.0
Australia,2.0,0.935,82.4,20.2,13.0,"42,261",17.0
Switzerland,3.0,0.930,83.0,15.8,12.8,"56,431",6.0
Denmark,4.0,0.923,80.2,18.7,12.7,"44,025",11.0
Netherlands,5.0,0.922,81.6,17.9,11.9,"45,435",9.0

In [15]:
human_dev_df.dtypes

hdi_rank                    float64
hdi                         float64
life_expectancy             float64
expected_yrs_education      float64
mean_yrs_edu                float64
gni_per_capita               object
gni_per_capita_minus_hdi    float64
dtype: object

# Transform happiness DataFrame

In [7]:
# create a filtered dataframe from specific columns
happiness_cols = ['Country', 'Happiness Rank', 'Happiness Score', 
                  'Economy (GDP per Capita)', 
                  'Health (Life Expectancy)', 'Freedom', 
                  'Generosity', 'Dystopia Residual']
happiness_transformed = happiness_df_rounding[happiness_cols].copy()

# happiness_transformed.head()

happiness_transformed.rename(columns={"Country": "country", "Happiness Rank": "happiness", "Happiness Score": "happiness_score",
                                     "Economy (GDP per Capita)": "gdp_per_capita", "Health (Life Expectancy)": "life_expectancy",
                                     "Freedom": "freedom", "Generosity": "generosity", "Dystopia Residual": "dystopia_residual"},inplace=True)

# Clean the data by dropping duplicates and setting the index
happiness_transformed.drop_duplicates('country', inplace=True)
happiness_transformed.set_index("country", inplace=True)

happiness_transformed.head()

,happiness,happiness_score,gdp_per_capita,life_expectancy,freedom,generosity,dystopia_residual
country,,,,,,,
Switzerland,1,7.587,1.397,0.941,0.666,0.297,2.517
Iceland,2,7.561,1.302,0.948,0.629,0.436,2.702
Denmark,3,7.527,1.325,0.875,0.649,0.341,2.492
Norway,4,7.522,1.459,0.885,0.670,0.347,2.465
Canada,5,7.427,1.326,0.906,0.633,0.458,2.452

In [8]:
happiness_transformed.dtypes

happiness              int64
happiness_score      float64
gdp_per_capita       float64
life_expectancy      float64
freedom              float64
generosity           float64
dystopia_residual    float64
dtype: object

In [9]:
happiness_transformed.to_csv(r'happiness_2015_summary.csv', index = False)

# Create database connection

In [10]:
connection_string = (
    "postgresql://postgres:L2mQt4@localhost:5432/project2_db")

engine = create_engine(connection_string)

In [11]:
engine.table_names()

['happiness', 'suicide']

# Load DataFrames into database

In [19]:
happiness_transformed.to_sql(name="happiness", con=engine, 
                             if_exists="append", index=True)

In [27]:
suicide_df.to_sql(name="suicide", con=engine, if_exists="append", index=True)

In [16]:
human_dev_df.to_sql(name="human_development", con=engine, if_exists="append", index=True)